<template>
  <div class="dashboard-container">
    <div class="dashboard-text">name: {{ name }}</div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { banner } from "@/api/user";
export default {
    name: 'Dashboard',
    computed: {
        ...mapGetters([
            'name'
        ])
    },
    created:function(){
      this.getimg()
    },
    methods:{
        getimg(){
            banner().then(res=>{

            })
        },
    }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
